@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  font-family: inherit;
}

body {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  margin: 0;
  font-family: "Poppins", sans-serif;

  span {
    background-color: red;
  }
}

header,
footer {
  font-family: "Crimson Pro", serif;
}

header {
  margin: 0 auto;
  max-width: 450px;
  background: rgba(255, 255, 255, 0.7);
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  box-shadow: 2px 2px 18px #ececec;
  padding: 30px;
  text-align: center;
}

.logo {
  margin-bottom: 10px;
  width: 100%;
  max-width: 370px;
}

.description_header {
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: 300;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
  width: 100%;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
}

.d-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup {
  opacity: 0;
  z-index: -10;

  & > div {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  transition: all 10s;

  &.active {
    opacity: 1;
    z-index: 10;
  }

  position: fixed;
  width: 100vw;
  height: 100%;
  transition: all 1s 0.5s, z-index 0s 0.5s;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;

  .popup-inner {
    width: 100%;
    max-width: 800px;
    background-color: white;
    border-radius: 15px;
    height: 80vh;
    overflow-y: auto;
    padding: 30px;
    transition: all 10s;

    img {
      width: 100%;
      height: auto;
      max-width: 400px;
    }
  }
}

.close-button {
  font-size: 40px;
}
button.item {
  display: block;
  position: absolute;
  top: calc(100% - 120px);
  left: calc(100% - 150px);
  width: 100px;
  height: 100px;
  background-image: url("../assets/gift.png");
  background-size: cover;
  font-size: 0;
  animation: anim-item 4s linear infinite;
}

@keyframes anim-item {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.popup-inner {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #2021247f;
    border-radius: 6px;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 6px;
  }
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #2021247f #ffffff;

  & > li {
    display: inline-block;
  }
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
  padding-top: 60px;
  padding-bottom: 80px;

  .modal {
    width: 200px;
    height: 200px;
  }
}



@import url("_card.scss");

@media screen and (min-width: 768px) {
  .footer {
    font-size: 28px;
  
  }
}
